<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Router Project</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS import -->
    <link rel="stylesheet" href="../css/reset.css">

</head>
<body>
    <div style="margin: 40px 0 0 30px;">
        <a href="#" onClick="window.open('../vue01docs/npm사용법.html','npm사용법','width=800,height=400,toolbar=no,menubar=no,scrollbars=no,resizable=yes');return false;" rel="nofollow">npm 사용법</a>
    </div>
    <xmp>
        Vue-CLI를 사용하여 프로젝트를 만들고 라우팅을 적용하여 본다.


        ##################################
        # Vue-CLI 학습하기
        ##################################

        Vue-CLI 구성요소
            CLI코어: @vue/cli
            CLI서비스: @vue/cli-service
                웹팩
                웹팩개발서버
            CLI플러그인: @vue/cli
                router
                vuex
                @vue/cli-plugin-babel
                @vue/cli-plugin-eslint
                @vue/cli-plugin-unit-jest


        Vue-CLI 플러그인 추가
            vue add 플러그인명. 예시) vue add router
            npm install --save 플러그인명. 예시) npm install --save vuex

        Vue-CLI 의 버전
            2.x : <== 교재
            3.x :
            4.x : <== 최신 버전

        Vue-CLI 설치:
            npm install -g @vue/cli  <== global 설치
            npm install    @vue/cli  <== local 설치

        Vue-CLI 버전 확인 :
            vue -V      <== global 설치인경우
            또는
            npx vue -V   <== local 로컬설치인경우


        ##################################
        # Vue-CLI 프로젝트 생성 및 설정 작업
        ##################################
            step 01. Vue-CLI 전역 설치 삭제
            $ npm uninstall -g @vue/cli


            step 02. Vue-CLI 전역 설치. 한번만 수행. --force 를 사용하면 강제로 덮어쓰게 된다.
            $ npm install -g @vue/cli --force


            step 03. vue-cli 버전 확인
            $ vue -V
            @vue/cli 4.5.9


            step 04. 현재 폴더의 파일 목록 조회
            $ ls
            1차  2차  3차  vue53-01.Router프로젝트.html

            step 05. routerprj01 프로젝트 생성. package.json 생성.
            $ vue create  routerprj01
            Vue CLI v4.5.9
            ? Please pick a preset:
              Default ([Vue 2] babel, eslint)
              Default (Vue 3 Preview) ([Vue 3] babel, eslint)
            > Manually select features

            ? Check the features needed for your project:
            (*) Choose Vue version
            (*) Babel
            ( ) TypeScript
            ( ) Progressive Web App (PWA) Support
            (*) Router
            (*) Vuex
            ( ) CSS Pre-processors
            (*) Linter / Formatter
            ( ) Unit Testing
            ( ) E2E Testing

            ? Choose a version of Vue.js that you want to start the project with (Use arrow keys)
            > 2.x
              3.x (Preview)

            ? Use history mode for router? (Requires proper server setup for index fallback in production) (Y/n) Yes

            ? Pick a linter / formatter config:
              ESLint with error prevention only
              ESLint + Airbnb config
              ESLint + Standard config
            > ESLint + Prettier

            ? Pick additional lint features:
            > (*) Lint on save
              ( ) Lint and fix on commit

            ? Where do you prefer placing config for Babel, ESLint, etc.? (Use arrow keys)
            > In dedicated config files
              In package.json

            ? Save this as a preset for future projects? (y/N) N


            ? Please pick a preset: Manually select features
            ? Check the features needed for your project: Choose Vue version, Babel, Router, Vuex, Linter
            ? Choose a version of Vue.js that you want to start the project with 2.x
            ? Use history mode for router? (Requires proper server setup for index fallback in production) Yes
            ? Pick a linter / formatter config: Prettier
            ? Pick additional lint features: Lint on save
            ? Where do you prefer placing config for Babel, ESLint, etc.? In dedicated config files
            ? Save this as a preset for future projects? No



            step 06. 현재 폴더의 파일 목록 조회. 프로젝터 폴더(routerprj01) 존재 여부 확인.
            $ ls
            1차 2차 3차 routerprj01 vue53-01.Router프로젝트.html


            step 07. 생성된 프로젝트 폴더(routerprj01)로 이동
            $ cd routerprj01


            step 08. 현재 폴더의 파일 목록 조회. package.json 이 보이면 정상.
            $ ls
            babel.config.js  node_modules  package.json  package-lock.json  public  README.md  src


            step 10. 비동기 통신 라이브러리 axios 추가
            $ npm install --save  axios

            step 11.  프로젝트 실행 설정 routerprj01/package.json 수정
                a. 실행시 브라우저로 열기  ==>  --open
                b. 실행 서버 포트 변경     ==>  --port 4000

                "scripts": {
                    "serve": "vue-cli-service serve --open --port 4000",
                    "build": "vue-cli-service build",
                    "lint": "vue-cli-service lint"
                },

            step 12. 현재 폴더의 파일 목록 조회. package.json 존재하는지 확인
            $ ls

            step 13. 서버 실행. package.json 이 있는 폴더에서 실행 해야 됨.
            $ npm run serve

            step 14. 배포할 파일들이 생성됨. 빌드가 완료되면  dist/ 폴더에 관련 파일들이 생성됨.
            $ npm run build

            step 15. 코드 표준화 수행
            $ npm run lint



        3. 프로젝트 폴더 구조
           프로젝트
            ├─ dist                     # 빌드된 결과물이 저장되는 폴더. 서버로 배포되는 파일들.
            ├─ node_modules             # npm 모듈(패키지) 저장 폴더
            ├─ public                   # 배포 버전을 빌드할 때 사용하는 파일.
            │   └─ index.html
            │   └─ favion.ico
            └─ src                      # 소스 코드 폴더
            │   └─ assets               # 이미지, CSS, 기타 자원 파일
            │   │   └─ logo.png
            │   ├─ components           # 컴포넌트
            │   ├─ router               # 라우터
            │   ├─ views                # 라우터 페이지
            │   ├─ App.vue
            │   └─ main.js
            ├─ babel.config.js
            ├─ package.json
            └─ README.md


        4. 프로젝트 초기 설정. page 133~134
            프로젝트의 폴더 구조
            └─ public/index.html 을 열고 아래의 코드를 추가

            4-1. viewport 설정
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            4-2. favicon 설정
            <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
            <link rel="icon" href="<%= BASE_URL %>favicon.ico">




        11. 로그인 기능 추가

            프로젝트
            ├─ dist
            ├─ node_modules
            ├─ public
            │   └─ index.html
            │   └─ favion.ico
            └─ src
            │   └─ components
            │       │   └─ user
            │       │       └─ UserLogin.vue      # 파일 생성. Vue component에 해당됨
            │       │       └─ UserRegister.vue   # 파일 생성. Vue component에 해당됨
            │       └─ views
            │           └─ Signup.vue            # 파일 생성. Vue 인스턴스에 해당됨
            ├─ babel.config.js
            ├─ package.json
            └─ README.md


            step 11-1. componets 에 추가
                    ~/src/components/login/user/UserLogin.vue 생성 및 수정
                    ~/src/components/login/user/UserRegister.vue 생성 및 수정

            step 11-2. views에 추가
                    cp ~/src/views/About.vue ~/src/views/Signup.vue

            step 11-3. ~/src/router/index.js 수정
                import UserLogin from "@/components/user/UserLogin.vue";

                {
                    path: "/signup",
                    name: "Signup",
                    component: () =>import("../views/Signup.vue")
                },
                {
                    path: "/login",
                    name: "Login",
                    component: UserLogin
                }
            step 11-4. App.vue 에 router-link 추가
                <div id="app">
                    <div>
                        <router-link to="/login">Login</router-link>
                    </div>
                    <div id="nav">
                        <router-link to="/">Home</router-link> |
                        <router-link to="/about">About</router-link> |
                        <router-link to="/signup">Signup</router-link>
                    </div>
                    <router-view />
                </div>

    </xmp>

</body>
</html>
